h2 {
  color: blue;
  margin-left: 20px;
  margin-top: 30px;
}

.listbody {
  position: absolute;
  margin-top: 60px;

  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: 91.2%;

  overflow: scroll;
  background-color: #e6e6fa;
}

.listcontainer {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  border: 2px solid blue;
  list-style: none;
  position: relative;
  margin: 20px 20px 0px 20px;
  justify-content: flex-end;
}

.text {
  font-size: large;
  color: black;
  margin-left: 5px;
  margin-right: 20px;
  position: relative;
}

.button {
  transition-duration: 0.4s;
  border-radius: 8px;
  border: 2px solid blue;
  background-color: blue;
  color: white;
}

.button:hover {
  background-color: white;
  color: blue;
}

.Date2 {
  position: relative;
  width: 100%;
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  border-radius: 5px;
}
.infobox {
  position: relative;
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
