.Nav-bar {
  background-color: blue;
  position: fixed;
  width: 100%;

  height: 60px;

  display: flex;

  align-items: center;
}
.Nav-members {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center, flex-start;
  margin-right: 10%;
  margin-left: 10%;
}
.Nav-items {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, auto);
  gap: 5%;

  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.Nav-links a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  font-size: large;
  font-weight: 500px;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 60px;
  display: block;
}
.name-block {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  font-size: large;
  color: white;
  font-weight: bold;
  font-family: sans-serif;

  padding-top: 10px;
}
